# Analysis: Disbalans between demand and available titles
## **Author** : Tijana Dajic

## Goal
Goal is to calculate disbalans between demand and available titles so we could advise the library how to processed in the future.

## Step 1: Load the data
First we will load the data so we could do the analysis.

In [5]:
import pandas as pd
df = pd.read_csv('books.csv', encoding='latin1')

## Step 2: Group sections
Here we will group all the sections by title and how many times did they get borrowed.

In [6]:
inventory_gap = df.groupby('section').agg({
'title': 'count',
'times_borrowed': 'sum'
})

## Step 3: Calaculate
Now we will calculate dissbalans.

In [7]:
inventory_gap['titles_to_borrow_ratio'] = inventory_gap['times_borrowed'] / inventory_gap['title']

## Step 4: Sort and print
In the final step we will sort our result and print them so we could see them clearly.

In [8]:
inventory_gap.sort_values(by=['titles_to_borrow_ratio'], ascending=False)

                    title  times_borrowed  titles_to_borrow_ratio
section
Young Adult (YA)       48         10184.0              212.166667
Young Adult            20          3448.0              172.400000
Non-Fiction           215         21595.0              100.441860
Fiction              1148         48570.0               42.308362
Science                28           992.0               35.428571
Children              212          5753.0               27.136792
Children's             23           478.0               20.782609
Reference              52           718.0               13.807692
History                39           522.0               13.384615
Humanities            234           899.0                3.841880
Children's Fiction      1             2.0                2.000000
Rare Books             12             0.0                0.000000

## Conclusion
We can conclude that sections 
- Young Adult(YA), 
- Young Adult,
-  Non-Fiction 
has the bigest dissbalans betwen titles and how many times did get borrowed.

## Advise
Be advise to include more of this titles in your offer so you could fulfill demands.